body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-slider-black {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #ddd;
  outline: none;
}

.custom-slider-black::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    #000 0%,
    #000 var(--fill-percentage),
    #ddd var(--fill-percentage),
    #ddd 100%
  );
}

.custom-slider-black::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  margin-top: -6px;
}

.custom-slider-black::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(
    to right,
    #000 0%,
    #000 var(--fill-percentage),
    #ddd var(--fill-percentage),
    #ddd 100%
  );
}

.custom-slider-black::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
