html.light {
  --bg-color: #f0f2f5;
  --text-color: #333;
  --header-bg: #fff;
  --header-text: #222;
  --border-color: #e0e0e0;
  --button-bg: #333;
  --button-text: #fff;
  --footer-border: rgb(171, 175, 255);
  --footer-backgroundcolor: rgb(228, 234, 255);
  --text-forder: #000;
}

html.dark {
  --bg-color: #1a1a1a;
  --text-color: #e0e0e0;
  --header-bg: #222;
  --header-text: #f0f0f0;
  --border-color: #444;
  --button-bg: #f0f0f0;
  --button-text: #222;
  --footer-border: rgb(47, 57, 255);
  --footer-backgroundcolor: rgb(12, 0, 49);
  --text-forder: #fff;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}
