.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-backgroundcolor);
  color: var(--header-text);
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.3s, color 0.3s;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: 6%;
  border: 1px solid var(--footer-border);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.footer-container > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container h3 {
  text-align: center;
  margin-bottom: 1rem; 
  margin-top: 0.5rem;  
  color: var(--text-forder);      
}

.footer-text-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: space-evenly;
  color: var(--text-forder);
  font-size: 1rem;
  margin-bottom: 1%;
}